.signin {

}

.signin__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10%;
    padding: 10px 0;
    background-color: #2A324B;
}

.signin__field {
    
}

.signin__container {
    padding: 1%;
    margin: 0 10px; 
    border: none;
    background-color: #767B91;
    color: white;
    display: inline-block;
    border-radius: 5%;
}

.signin__label {

}

.signin__button {
    background-color: #767B91;
    border: none;
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
    margin: 0 5px;
}
